-subject = "Link to translation"
-body = "Link: &lt;a href='#{link_info.media_info.link}'&gt;#{link_info.media_info.name}&lt;/a&gt;"
%p
  ="Link:"
  %a{ :href => link_info.media_info.link }=link_info.media_info.name
  %a{ :href => "mailto:?subject=#{subject}&amp;body=#{body}" }="Email it"
%p
  ="RTSP Link:"
  %a{ :href => link_info.media_info.rtsp_link }=link_info.media_info.name

%p
  ="Latin Name: #{link_info.name}"

%p
  ="Description: #{link_info.media_info.description}"

%p
  ="Description Production: #{link_info.media_info.description_production}"

%p
  ="Language: #{(link_info.media_info.speech_lang == '2' ) ? 'Russian' : ''}"

%p
  ="Channel: #{link_info.media_info.channel}"

%p
  ="Datetime: #{link_info.media_info.datetime}"

%p
  ="Popularity: #{link_info.media_info.popularity}"

%p
  ="Duration: #{link_info.media_info.duration} min."

%p
  ="Rating: #{link_info.media_info.rating}/1000"
