%p
  =title.nil? ? page.title : title
  = partial 'shared/search'
  %br
    
= partial 'shared/navigation_menu', :locals => {:page => page}

= partial 'shared/category_breadcrumbs', :locals => {:page => page}

= partial 'shared/categories', :locals => {:page => page}

%table{:border => "0"}
  %tr
  - page.title_items.each do |item|
    %td
      =display_link_or_text(item)

  - page.items.each do |item|
    %tr
      %td
        =item.showtime
      %td
        %img{:src => "#{Page::BASE_URL}/#{item.rating_image}"}
      %td
        =item.rating
      %td
        =display_link_or_folder(item)
      %td
        =item.year
      %td
        =item.duration
      %td
        =item.channel


