%p
  =title.nil? ? page.title : title
  
= partial 'shared/navigation_menu', :locals => {:page => page}
%br
%br

= partial 'shared/category_breadcrumbs', :locals => {:page => page}
%br
%br

= partial 'shared/categories', :locals => {:page => page}
%br
%br

= partial 'shared/title_items', :locals => {:page => page}
%br

%table{:border => "0"}
  - page.items.each do |item|
    %tr
      %td
        =item.showtime
      %td
        =display_link_or_folder(item)
      %td
        = item.year

      - if not item.duration.nil? and item.duration.size > 0
        %td
          =item.duration

      -if item.rating_image
        %td
          %img{:src => item.rating_image}

      -if item.image
        %td
          %img{:src => "#{Page::BASE_URL}/#{item.image}"}

