!!!
%html
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    %title= "ETVNET Client"
    %link{ :href =>"/stylesheet.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %script{:src => "/javascripts/jquery-1.4.1.js", :type => "text/javascript"}
    %script{:src => "/javascripts/main.js", :type => "text/javascript"}
  %body
    #container
      %p
        -if defined?(page)
          =page.title
        -elsif defined?(title)
          =title
        = partial 'shared/search'

      = partial 'shared/navigation_menu', :locals => {:page => page}
      = partial 'shared/category_breadcrumbs', :locals => {:page => page}
      = partial 'shared/categories', :locals => {:page => page}

      = yield
