= partial 'shared/navigation_menu', :locals => {:page => page}
%br
%br

= partial 'shared/category_breadcrumbs', :locals => {:page => page}
%br
%br

= partial 'shared/categories', :locals => {:page => page}
%br
%br

%p
  ="Link:"
  %a{ :href => link_info.media_info.link }=link_info.media_info.name

%p
  ="Latin Name: #{link_info.name}"

%p
  ="Description: #{link_info.media_info.description}"

%p
  ="Description Production: #{link_info.media_info.description_production}"

%p
  ="Language: #{(link_info.media_info.speech_lang == '2' ) ? 'Russian' : ''}"

%p
  ="Channel: #{link_info.media_info.channel}"

%p
  ="Datetime: #{link_info.media_info.datetime}"

%p
  ="Popularity: #{link_info.media_info.popularity}"

%p
  ="Duration: #{link_info.media_info.duration} min."

%p
  ="Rating: #{link_info.media_info.rating}/1000"
